.results-container{
  display: flex;
  flex-direction: column;
}
.place-card{
  display: flex;
  align-items: center;
}
.rating{
  width: 15%;
  padding-left: 20px;
}
.place-card-inner{
  width: 50%;
}
.details-card{
  height: 100vh;
  width: 100vw;
  z-index: 1;
}
#map {
    width: 40%;
    height: 60vh;
}

.conditional-content{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.price-level{
  display: flex;
}
.Carousel-root-18{
  min-height: 400px;
  width: 500px;
}
.CarouselItem{
  max-height: 300px;
  min-height: 350px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.carousel-image{
  margin: 0 auto;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 25px;
}